[2020-12-04 21:19] chicocvenancio opened #17 "Errors with multidocument files?"
I was investigating using this instead of kubeval for a project. Scanning multi-document files I end up with errors that are not  present if we split up the file into single document files.

eg:

[code]

[2020-12-04 23:03] yannh commented on #17
Hi @chicocvenancio , multi-files are supported , and should also be automatically tested... do you think you could share a minimal version of a multi-resource document that causes these failures, as well as the command you use to validate? Many thanks for the bug report!

[2020-12-08 14:24] chicocvenancio commented on #17
I'll try to create a minimal version.

[2020-12-29 16:18] Nitive opened #21 "Cache schemas to disk"
Hello!

Please add caching resource schemas to disk. It's typical for such an instrument to be run between different projects and downloading the same schemas every time affects performance. It also become very slow on bad internet connection

[2020-12-29 16:39] yannh commented on #21
Hi Nitive! You could actually run kubeconform without an internet connection. You would need to copy the right folder from https://github.com/instrumenta/kubernetes-json-schema to a local folder, and then run kubeconform like this:

./bin/kubeconform -schema-location '/path/to/your/local/copy/{{ .NormalizedKubernetesVersion }}-standalone{{ .StrictSuffix }}/{{ .ResourceKind }}{{ .KindSuffix }}.json

[2020-12-30 09:45] Nitive commented on #21
Yeah I can download schemas and use local copy but it's not very convenient.

It would be okey if downloading schemas was one-time thing but it isn't.

1. New resources appear when we update kuberentes version
2. Custom resources come and go

I was hoping to upload schemas to some server and let kubeconform download and cache it. When a new version of schemas is released, I would change schemas ur

[2020-12-30 10:06] yannh commented on #21
Agree - just pointing out that "everything kubernetes support" is only about 50MB for the whole folder from kubernetes-json-schema  (per k8s version) - less if you strip out the files you dont need (for example non -strict files if you use -strict, etc). It's a bit of work to maintain, that's true.

There are a couple ways to implement a cache. There actually already is an in-memory cache - but it

[2021-01-01 13:49] yannh commented on #21
@Nitive I made a PoC here https://github.com/yannh/kubeconform/pull/24/files  - you specify a folder to cache schemas with -cache, the filename is the md5 checksum of the URL, and contains the schema in clear text. The existing cache also caches things like 404 and would probably never detect new files.

The cache I implemented here never expires, it assumes the files at a given URL never change.

[2021-01-02 11:06] yannh commented on #21
Merged, I made a new minor release v0.4.2, feel free to try it out!

[2021-01-02 13:13] yannh commented on #17
Closing for lack of infos - please reopen a new issue with the file that is failing!  The acceptance tests do test  a variety of Multi-document YAML files such as https://github.com/yannh/kubeconform/blob/master/fixtures/multi_valid.yaml  and other multi* in the same folder - so this should work. I would be really interested in examples of files on which kubeconform fails! Thanks

[2021-01-02 13:13] #17 closed

[2021-01-07 12:54] Nitive commented on #21
Thank you very much! Validation works much faster with disk cache!

I tried it out and have some proposals for improvements

1. It would be nice to write cache to default location based on OS (Linux: `~/.cache`, macOS: `~/Library/Caches`, Windows: `%LOCALAPPDATA%`). There is [XDG spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) and [Go module](https://github.com/

[2021-01-07 15:45] GeorgesAlexis opened #27 "Kubeconform (tag v0.4.2) is validating K8S schemas even with an error"
Hi,

I'm a bit confused because I'm currently working on validation of schemas (k8s, istio, ...) in pipelines gitlab.

**The problem:**

- I'm working with this schema : https://kubernetesjsonschema.dev/v1.18.0/limitrange.json
- I have a simple LimitRange configuration file with an error on Kind name "LimitRangeeee"
- In local, kubeconform returns "Could not find schema for "LimitRangeee" (this is

[2021-01-07 15:59] yannh commented on #27
Hi @GeorgesAlexis , thanks for the report! Could you cat the file in your CI before you validate it - to ensure it contains what you expect it to contain? Also running with -summary might give you information on whether resources have been found in that file. I would expect this kind of behaviour if the file in the CI existed but was empty... :thinking:

[2021-01-07 16:19] GeorgesAlexis commented on #27
Thanks for this quickly response!

I already check if the file content in the CI and it's exactly the same that the local one.

With your advise I tried with -summary but as you can see there is no more information.

![output](https://user-images.githubusercontent.com/33146933/103916119-573cec80-510c-11eb-9653-bab9af3c4e41.png)

There is the content of limits.yaml in the first block. The command e

[2021-01-08 12:29] Nitive commented on #27
@GeorgesAlexis Hi, I was able to reproduce an error but with version 0.2.2. Can you please check that kubeconform on CI is up to date? There is no `-version` flag, but you can check existence of `-cache` flag (it was introduced in 0.4.2)

I used this script to quickly check different versions and with 0.4.2 everything works fine
[code]

[2021-01-08 12:31] Nitive commented on #27
@yannh I think it's a good idea to add `-version` flag and probably printing version in verbose output, what do you think?

[2021-01-08 12:32] Nitive commented on #21
Looks like 404 responses do not get cached, I've added test for that in #28

[2021-01-08 12:57] GeorgesAlexis commented on #27
Hi @Nitive, I confirm you the presence of -cache flag in the CI kubeconform.
Furthermore, I'm downloading directly the binary v0.4.2 into the image build.

However, I found out that I can't curl http://kubernetesjsonschema.dev/ in the CI. Maybe

[2021-01-08 13:13] yannh commented on #27
Interesting, it should absolutely NOT silently fail when it cant reach the schema repository, let me know if you find a way to reproduce this locally!

[2021-01-08 13:15] yannh commented on #21
It's on purpose :grimacing:  for full offline capabilities I d really rather work on a lean way to get the required schemas...

[2021-01-09 00:02] yannh commented on #27
Note: following @Nitive PRs we will be adding extended acceptance tests that run with no network access (see https://github.com/yannh/kubeconform/pull/29/files ). So far everything seems to behave as expected, and it fails if it can not reach the network. Let me know if you manage to reproduce this locally! Best, Yann

[2021-01-09 12:11] yannh commented on #21
1 & 3: I thought about this, and I m not sure. Creating the folder might mean that it would create files in the wrong place if it is misconfigured. Forcing it to write to a folder that exists ensures that you are indeed writing to the correct folder. On the location itself - all these would not exist in the context of a Docker container, so we would be building more complex logic here. If you are

[2021-01-09 13:39] Nitive commented on #21
#30

[2021-01-09 13:55] Nitive commented on #21
I think it would be best for users do not configure anything for cache and let kubeconform handle it. This is how most tools work. For example kubectl keeps its cache in `~/.kube/cache` and user don't have to create this directory. Helm uses [XDG Spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) and also creates directory by itself.

Maybe I'll do that but I would

[2021-01-15 12:25] GeorgesAlexis commented on #27
Hello !

I found the solution 👍

In the pipeline context, kubeconform (v4.0.2) parsed the sdin value even if a file was specified after all flags.

According to this behavior, I just cat the file before and passed it to the sdin of kubeconform.

I discovered this issue when I put the -summary flag and I saw kubeconform was parsing the sdin instead of the file.

[2021-01-15 12:28] GeorgesAlexis commented on #27
Moreover, I solved the curl problem too.
It was a rule not related with kubeconform or gitlab ci.

Thank you very much for your help!
 :)

[2021-01-15 15:16] yannh commented on #27
Thanks a lot for following up! Do you think kubeconform should maybe just fail if it has both data in stdin and files/folders given? When processing stdin I guess usually you wouldnt want to pass a list of files on top?

[2021-01-15 16:07] GeorgesAlexis commented on #27
I think it's a good idea to at least warning user in verbose mode. The information is printed only with summary flag.

Maybe utilization of flag would let the user choose the method but I'm just IT student. You must have more experiance than me if it's a good idea
I trust you 😉

Just, one thing with the openapi2jsonschema script. I notice that if the OpenApi file doesn't contain a version key in s

[2021-01-20 23:46] Niksko opened #31 "Default Kubernetes schema repo is unmaintained?"
Hi, partly question, partly an issue.

There are reports over at https://github.com/instrumenta/kubernetes-json-schema that the repo is unmaintained. Apparently PRs for K8s 1.19 and 1.20 haven't been merged.

A partial workaround is to use schemas in this repo: https://github.com/awslabs/cdk8s/tree/master/kubernetes-schemas/. However these seem aligned to EKS versions, so there's no 1.20 yet.

Is

[2021-01-20 23:49] Niksko opened #32 "Schema validation silently fails for non-existent Kubernetes version"
Tried to do validation against K8s 1.19, which as per my other issue, isn't in the default schema repo. Instead of throwing an error, this seemed to just silently fail and skip validation of all resources.

Steps to reproduce:

[code]

Expected result:
Some sort of error because the 1.19 schemas don't exist.

Presumably this is because I'm passing `-ignore-missing-schemas`? However if I don't pass

[2021-01-21 08:24] yannh commented on #32
Hi @Niksko , this seems to work as expected? If you ignore missing schemas, it will skip resources for which it doesnt find a shema - in this case all of them. If you do not pass -ignore-missing-schemas, it will error when it doesnt find a schema for a resource - in this case for all of them...

I would recommend you use -skip to explicitly ignore the kinds for which you know you do not have a sch

[2021-01-21 08:25] yannh commented on #31
Well this is a problem indeed :( https://github.com/awslabs/cdk8s/tree/master/kubernetes-schemas/  is not the same format. I would love to see this resolved. If this does not however, I would fork kubernetes-json-schema - and if possible try to automate its updates using Github Actions.

[2021-01-22 08:49] yannh commented on #31
I'll be maintaining a fork at  https://github.com/yannh/kubernetes-json-schema
I ll do some work on it in the next few weeks, and unless something changes in the parent repository, will update kubeconform's documentation when done.

[2021-01-24 01:01] yannh commented on #31
I have updated kubeconform to use the forked schema registry by default. That registry has improved tooling and schemas for all recent versions of kubernetes.

[2021-01-24 01:01] #31 closed

[2021-01-31 18:18] jalseth opened #33 "Feature Request: Publish a GitHub Action"
Hi, thanks for the project and for picking up the work of maintaining the schema updates for newer versions of Kubernetes.

It would be nice if you published a GitHub Action to make it easier to use in GitHub's CI system. If you publish Docker images for each release, it should be pretty straightforward to set up.

[2021-02-02 09:34] yannh commented on #33
Hi @jalseth , yes I like the idea :) Would love to publish docker images for each release, though while Github actions requires a PAT instead of a GITHUB_TOKEN I'm not sure I'm ready to do that from CI (see https://docs.github.com/en/packages/guides/using-github-packages-with-github-actions )

[2021-02-03 23:09] jalseth commented on #33
That is true for GitHub Container registry, which is separate from GitHub Packages. You can still push to GitHub Packages with `GITHUB_TOKEN`, and then the action should be able to pull from that (I haven't tested this part). The page you linked has an example of pushing to GitHub Packages with the `GITHUB_TOKEN`.

[2021-02-14 09:24] yannh commented on #32
I will close this since it is working as expected - a Kubernetes version missing should trigger a "schema not found" - I can't get kubeconform to fail on it, since you might be specifying multiple schema locations... I hope you found a way to get this to work with -skip :)

[2021-02-14 09:24] #32 closed

[2021-02-14 12:05] yannh commented on #33
Yeah I think you re right, maybe we can rely on Github packages for now, and by the time it gets retired hopefully Github Container Registry will support a GITHUB_TOKEN :) Checking this out now.

[2021-02-14 14:47] yannh commented on #33
Alright, added some jobs to release docker images regularly, hopefully Github wont retire Github packages for Docker images before enabling support for GITHUB_TOKEN in the newer Github Container Registry.

So tags: master (what is in the master branch), latest (latest tag released, assuming we always publish incremental versions) and specific releases. If i manage to figure out how to delete the "

[2021-02-14 19:17] yannh commented on #33
I have a branch that works (github-action) but the Docker Registry will be a problem. There is no anonymous pull from Github packages and I fail to use the image for a github action. Github Container Registry does support anonymous pull, but requires a PAT... or I could setup a Dockerhub account but that also has quite strong rate limits.. Not too sure what the recommended way is.

[2021-02-23 18:32] anuaimi opened #37 "package with brew for easy install on Mac"
it would be great to be able to install this with `brew install kubeconform`.  It's pretty simple to create the scripts for this and I'd be willing to take a first pass at this.

[2021-02-23 22:15] yannh commented on #37
Hi @anuaimi , I am not very familiar with Brew or the MacOS ecosystem, however I would be glad to work with you towards this. Note that we currently use goreleaser to generate builds, it looks like it can do brew packages, is this what you had in mind?
https://goreleaser.com/customization/homebrew/

It seems this is what kubeval is doing: https://github.com/instrumenta/kubeval/blob/529b532b1ea1ea0

[2021-02-23 22:56] anuaimi commented on #37
yes it is.    The benefit to mac users is that a) the install is easier and b) if brew installs the binary, its trusted. Right now users have to download the binary, move it to `/usr/local/bin` and then use Finder to find the binary and tell MacOS that it is trusted. Doable but ackward.

Here are the steps to setup brew for your binary...

the basic idea is that you create a new repo called `homeb

[2021-02-23 22:57] anuaimi commented on #37
btw, have not heard of goreleaser.  Looks great so will need to checkout and possibly use in my go projects.

[2021-02-23 23:50] anuaimi opened #38 "no need to create Darwin-386 release binary"
The current release has a binary for Darwin-386.  MacOs has never supported 386 CPUs so this is not necessary.

This can be fixed by added the following to the `.goreleaser.yml` file

[code]

[2021-02-23 23:54] anuaimi opened #39 "no binary for new M1 MacBooks"
New Macbooks are based on Apple's M1 ARM CPU.   Kubeconform releases should generate a binary for this platform.  goreleaser has support for this as I installed a new binary today (v 0.157.0) and got these by default on my own personal go project.  I'm not sure why they are not being generated for kubeconform.

[2021-02-24 16:19] anuaimi commented on #37
I've been playing around with `goreleaser` on one of my own projects.  I converted a custom brew script to one that was generated by `goreleaser`.

Below is a 1st cut of what I believe needs to be added to the `kubeconform` `goreleaser.yml` file.  This will generate a brew file in the `dist` directory named `kubeconform.rb` but not yet automatically upload it to github.

[code]

[2021-02-24 16:28] anuaimi commented on #38
I think the issue is just that an older version of `goreleaser` is being used.  I forked the repo, built things and I ended up with `darwin_amd64` and `darwin_arm64` which is what it should be.

I believe Mac M1 support was added in version 0.157.0.  @yannh can you check what version you build with.

[2021-02-24 16:29] anuaimi commented on #39
I believe this issue is related to #38 and that once `goreleaser` is updated, this issue will also be solved.

[2021-02-24 21:33] anuaimi commented on #37
@yannh once you are comfortable things are working, you can set `skip_upload` to `false` and the `homebrew-yannh` repo will be updated at the same time as the release is added to `kubeconform`.

btw, I'm pretty happy with `goreleaser` and surprised I've never heard of it before.

[2021-03-03 23:50] ThoreKr commented on #27
Good evening,

we are facing a very similar issue in gitlab ci this happens:
[code]

Definitions stores our all yaml files and when running the same command locally

[code]

This happens (as expected). The error seems to be related to the way gitlab ci executes commands and kubeconform falling back to stdin for some reason.

[2021-03-04 07:34] GeorgesAlexis commented on #27
Hi @ThoreKr,

Have you tried to cat your definitions before running kubeconform ?

Even if we execute the command : "./kubeconform -summary definitions", it will analyse what was past before this command and won't pass through definitions parameter.

Try this : **"cat definitions | kubeconform -summary"**

I don't remember if we can cat all files before one kubeconform otherwise try with a loop (f

[2021-03-04 07:40] GeorgesAlexis commented on #27
There is a merge request pending : "Added ignore-stdin as a flag to work with CI. #41"

It should resolve this unexpected behaviour.

Keep one eye on this ;)

[2021-03-05 12:12] ThoreKr commented on #27
It's an entire folder, so I'd really like to avoid that.

That one was the result of a joint-debugging session.
So for now it works. Let's see how yannh want's to handle stdin in the future.

[2021-03-07 18:17] yannh commented on #27
Reopening this, trying to address the problem with stdin :)

[2021-03-07 23:00] #27 closed

[2021-03-07 23:05] yannh commented on #27
Looks like my comment automatically closed this :) Let me know if the new build works for you, it should mimic how kubeval works and only try to read from stdin when no files/folders is passed or when stdin is explicitly given using the minus sign "cat files.yaml | kubeconform -"

[2021-03-08 01:50] ThoreKr commented on #27
@yannh thanks for the quick response and this fix. I can confirm that it is now working with gitlab ci.

[2021-03-08 14:36] labianchin opened #43 "kubeconform -h fails"
First, thank you for this great project! It is so great to get k8s resources validations fast and with a short output.

---

On 0.4.3, `kubeconform -h` worked just fine. Now on 0.4.5, one has to supply a file:

On 0.4.3, process exit with code 0:

[code]

On 0.4.5, it fails with exit code 1:

[code]

So far, I found a workaround by using `kubeconform -h /dev/null`.

---

The context on why using `

[2021-03-08 17:19] yannh commented on #43
I just pushed a hotfix, and added a regression test for this :) Thanks for the quick heads up, try out v0.4.6!

[2021-03-08 17:19] #43 closed

[2021-03-23 18:18] 0x46616c6b commented on #33
Seems that GitHub don't affected from the rate limiting if I read this correctly https://github.community/t/did-dockerhub-rate-limit-affect-github-action/128158/2

[2021-03-30 13:39] yannh commented on #33
https://github.blog/changelog/2021-03-24-packages-container-registry-now-supports-github_token/  :heart:  I'll look into this again very soon.

[2021-03-30 13:59] yannh commented on #33
@jalseth WDYT:: https://github.com/yannh/test-kubeconform-action/blob/master/.github/workflows/main.yml ?
It's a "Docker Container Action" https://docs.github.com/en/actions/creating-actions/creating-a-docker-container-action  - so it actually builds the container.

I still want to publish a container though, would make it easier to use.

[2021-03-31 20:15] yannh commented on #33
Alright I've ended up going a different route - https://github.com/yannh/kubeconform/#usage-as-a-github-action
I believe this should be faster since it won't have to rebuild the image every time (even if some layers might get cached). Bandwidth within Github Actions will hopefully stay free in the future.

[2021-03-31 20:15] #33 closed

[2021-04-23 01:14] davidholsgrove opened #45 "junit testcase created for empty yaml docs"
Testing out the junit xml output format, I see we have empty testcases added to the report where kubeconform encounters a yaml document with no content, including where its just a comment - for example;

[code]

[code]

produces a testsuite with 2 testcases;

[code]

[2021-04-28 19:52] MaxRink opened #46 "Validation of resources using kustomize"
We curently have folders which contain kustomize overlays.
[code]
As you can see validation of those resources fails and ignoring based on regex isnt really possible, as i would need the regex feature to work conditionally (e.g. only exclude .yaml when a kustomize.yaml ist present in the folder)

[2021-04-28 20:41] MaxRink opened #47 "Dockerfile for other CI providers"
The Dockerfile currently doesnt seem to work on GitLab CI for example, as GL-CI expects to be able to oppen up a shell in the container and execute the cmd that way.
Just specifying entrypoint and args isnt allowed by gitlab and treatet as an invalid config.
For the dokcer image to work properly with Gitlab CI there would need to be a shell inside the container, although the entrypoint could just

[2021-05-17 17:56] svmundada opened #48 "Help with locally stored schemas"
For validating CRDs I have been trying to set up schemas locally in a directory.
My setup:

1. `kustomize fetch openapi > openapi.json`
2. From `openapi.json`, I have extracted value corresponding to `com.coreos.monitoring.v1.ServiceMonitor` and stored it in `/tmp/schemas/servicemonitor.json`
3. `cat sm.yaml | kubeconform --strict  --kubernetes-version 1.19.10  -schema-location '/tmp/schemas/{{ .R

[2021-05-17 20:57] yannh commented on #48
Hi @svmundada , I think it might have to do with your schema file: it contains this:

      "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta",

And that reference to definitions might be missing -  I suspect your schema is not valid.

From your command "kustomize fetch openapi"  I guess it might return an openapi schema, which you would need to convert to jsonschema using htt

[2021-05-18 05:52] svmundada commented on #48
Hi @yannh, Thanks for your reply, I understand the process better but still stuck.

I tried this `openapi2jsonschema openapi.json  --kubernetes --strict --stand-alone --expanded` and it created `schemas/servicemonitor-monitoring-v1.json`. My requirement is to have multiple apiversions that's why using `--expanded`.

Can you please tell what would be the correct template string ? I tried this  `sch

[2021-05-18 21:14] yannh commented on #48
Well done! You can provide several -schema-locations:

 kubeconform -schema-location 'schemas/{{ .ResourceKind }}{{ .KindSuffix }}.json'  -schema-location default  .....

Default is an alias for this repository: https://github.com/yannh/kubernetes-json-schema  , and Kubeconform will download the files as required.  Kubeconform will look into each of these "schema locations" and try to find a match

[2021-05-24 09:51] yannh commented on #45
Hi @davidholsgrove , It's tricky but it actually seem to work as expected... at least if my understanding of yaml is correct :) the --- is a separator, your file contains two yaml documents: one empty one, that contains only a comment - and another, normal, one.

I guess the question is what Junit output we expect for empty documents :thinking:

[2021-05-24 10:01] yannh commented on #47
Hi Max, I understand the need - though using a different base image also means I'd have to keep it up to date. What do you need, just a Dockerfile or also a full docker image hosted somewhere?

[2021-05-24 10:05] yannh commented on #46
Hi @MaxRink , it's not impossible but I think it does fall outside of the scope of this project. Maybe you can bash-fu your way out of this? Some find | xargs combo?

[2021-05-24 10:05] #46 closed

[2021-05-24 10:06] yannh commented on #48
Hi @svmundada , I ll be closing this for now since it looks like there is no issue with kubeconform itself. Let me know if I can maybe make the documentation better! :+1:

[2021-05-24 10:06] #48 closed

[2021-06-08 14:18] TheShahin opened #50 "Using multiple schemas on disk with different Kubernetes resources"
Our CI/CD-pipeline uses kubeconform to validate Kubernetes resources and today some builds failed due to a temporary outage in GitHub's CDN. To avoid this in the future we downloaded the schemas that we need and point kubeconform to them locally. However, it seems kubeconform is not then able to resolve which schemas to apply to which resources.

For example, I have a directory called `schemas`, w

[2021-06-08 15:00] yannh commented on #50
Hi @TheShahin , it does, but it is a templated field: try

-schema-location 'schemas//{{ .ResourceKind }}{{ .KindSuffix }}.json'

Using a local cache of files is a common occurence though, maybe I should better document that in the Readme.

[2021-06-09 12:46] TheShahin commented on #50
Ah, of course, stupid me. Thank you for your help and thank you for a great tool!

[2021-06-09 12:46] #50 closed

[2021-06-16 14:57] dewe opened #51 "Could not find schema for CustomResourceDefinition"
When validating `apiextensions.k8s.io/v1` CustomResourceDefinition resources I get this error:

[code]

Why is that? I thought this API was part of the Kubernetes API?

[2021-06-16 15:27] yannh commented on #51
Hi Dewe, no it is not, servicemonitors.monitoring.coreos.com is part of Prometheus' operator CRD! The workflow to validate CRDs is described in the README, https://github.com/yannh/kubeconform#converting-an-openapi-file-to-a-json-schema  - could you go through it and let me know whether its understandable?
It does require a little bit of manual work unfortunately.

[2021-06-16 20:24] dewe commented on #51
Hi, thanks for the quick answer.

I've tried it out that workflow earlier today, it wasn't entirely clear how to do it, but eventually I got it working. One thing that could be improved is to emphasize the correct FILENAME_FORMAT (i.e. not the default).

But... now, this issue, it's about the actual `CustomResourceDefinition` that fails, not the `ServiceMonitor` resource.

To reproduce, taking the

[2021-06-22 11:52] paulfantom commented on #51
I can confirm this is the case. It is why we are skipping validation of CRDs in kube-prometheus (https://github.com/prometheus-operator/kube-prometheus/blob/main/Makefile#L43).

[2021-06-22 21:50] yannh commented on #51
I understand. The problem is due to the fact that the schema for CustomResourceDefinitions are not stored in the [schema repository](https://github.com/instrumenta/kubernetes-json-schema), most likely because of [this](https://github.com/yannh/openapi2jsonschema/blob/09bbcef0ed5f0f70ee033834637e10e7035b6787/openapi2jsonschema/command.py#L162-L178)

While I am quite interested in getting this to wo

[2021-06-30 17:40] chenrui333 commented on #37
@anuaimi Now you should be able to run `brew install kubeconform` to install the tool.

[2021-07-01 15:19] yannh commented on #38
Closing because of https://github.com/yannh/kubeconform/pull/52

[2021-07-01 15:19] #38 closed

[2021-07-01 15:20] yannh commented on #39
I understand brew installs from source? @anuaimi could you let me know if brew install kubeconform works for you on a M1 mac?

[2021-07-01 15:34] yannh commented on #39
Ok I'm told this works when installing from brew... Might update goreleaser at some point too, but that should solve it for now :)

[2021-07-01 15:34] #39 closed

[2021-07-02 23:00] maxbrunet opened #53 "Support Kubernetes Lists"
Validating `Lists` does not seem to be supported:
[code]

`kubeconform` should recognize the kind and validate items individually.

We mostly use it to validate Jsonnet deployments, this format allows the output to be directly passed to `kubectl apply -f -` (since JSON does not have an equivalent to YAML document streams). An example out there if that can clarify:
https://github.com/brancz/kuberne

[2021-07-03 10:15] yannh commented on #53
Hi @maxbrunet , thanks for the report. Kubeconform should work as a dropin replacement for kubeval and therefore support Lists. I am looking into this :+1:

[2021-07-03 11:28] yannh commented on #53
WIP: https://github.com/yannh/kubeconform/pull/54/files
The results of the signature call is actually cached, so this should not have an impact in most cases. We'll need a second unmarshall when the resource is a list, but that is likely unavoidable.

[2021-07-03 13:20] yannh commented on #53
@maxbrunet this should be good to go https://github.com/yannh/kubeconform/pull/54/files
Want to review?

[2021-07-03 14:07] yannh commented on #53
Went ahead and released v0.4.8, lmk if this works for you!

[2021-07-03 18:51] maxbrunet commented on #53
Wow thank you @yannh, that was fast!

I had started doing some work, but not much, mostly tried to get around with a single unmarshall.

I had spotted this:
https://github.com/yannh/kubeconform/blob/c4b044f3be2e06922b4409e4ccafce02b91d166d/pkg/resource/stream.go#L51

It works for ~~small~~ regular deployments, but I have a 17MB output for our Grafana deployment, mainly dozens of dashboards in Conf

[2021-07-03 19:13] yannh commented on #53
@maxbrunet the results of the unmarshall to get the signature are cached, so it should save an unmarshall down the line and be ok in the end.  Mhhhh, could you confirm it works for at least a part of that file?I did add a test so it works with stdin... it's a pretty big file but I would expect it to work? If you strip down to keep just the first 3 resources, does it work?
Thanks!

[2021-07-03 22:57] maxbrunet commented on #53
Yes, I confirm, as I said it works for an output of less than 4MB.
And yes, a configurable `maxResourceSize` could do the trick.

But have you tried to use a default buffer with `io.Copy()` and let it resize itself like in https://github.com/instrumenta/kubeval/pull/220? Does that use a lot more memory?

If you want to reproduce, here's a couple quick and dirty scripts to generate large files:

<d

[2021-07-04 18:53] yannh commented on #53
@maxbrunet I think the problem is slightly different - if the support for lists works, would you mind opening a new ticket for large resource files? :pray:

[2021-07-04 18:55] #53 closed

[2021-07-06 23:23] maxbrunet opened #57 "Support large files"
Righ now files are limited to 4MB
https://github.com/yannh/kubeconform/blob/c4b044f3be2e06922b4409e4ccafce02b91d166d/pkg/resource/stream.go#L51
https://github.com/yannh/kubeconform/blob/c4b044f3be2e06922b4409e4ccafce02b91d166d/pkg/resource/files.go#L130

For example, I have a 17MB output for our Grafana deployment, mainly dozens of dashboards in ConfigMaps: 😛
[code]

`kubeval` had the same issue a

[2021-07-07 00:21] Hongbo-Miao commented on #37
Just tested, `brew install kubeconform` works for me. Thanks!

[2021-07-07 00:23] Hongbo-Miao opened #58 "Ingress ingress-service failed validation: could not find schema for Ingress"
Came from https://github.com/instrumenta/kubeval/issues/301 because I got the same issue there 😅

Then I found **kubeconform**!

I have a file `hm-ingress.yaml`:

[code]

Currently when I use **kubeconform** to validate it, I got error

Any idea? Thanks!

[2021-07-07 10:56] yannh commented on #58
There is a schema for ingress https://github.com/yannh/kubernetes-json-schema/blob/master/v1.21.2-standalone/ingress.json  :)
Could you share the command line you are using?

[2021-07-07 12:03] #37 closed

[2021-07-07 12:09] Hongbo-Miao commented on #58
Oh simply `kubeconform hm-ingress.yaml`
![image](https://user-images.githubusercontent.com/3375461/124756598-32acba80-df5f-11eb-9af7-531447427c5d.png)

[2021-07-08 14:13] knutgoetz commented on #58
Kubeconform uses `1.18.0` as its default k8s version, and i believe the `apiVersion` was `networking.k8s.io/v1beta`  for ingress resources back then. `kubeconform  -kubernetes-version=1.19.0 hm-ingress.yaml` or using any version `>=1.19.0` should work.

[2021-07-08 14:46] Hongbo-Miao commented on #58
I think it makes sense to always use latest unless people need use old version to pin to the old one.
And currently latest version is `1.21.0` already. 😀

[2021-07-08 14:50] Hongbo-Miao opened #59 "Use latest Kubernetes version by default"
Follow up https://github.com/yannh/kubeconform/issues/58

Kubeconform currently uses `1.18.0` as default Kubernetes version.
It would be great to use latest unless people need use old version. In that case, people can use `-kubernetes-version` to use the old version.
And currently latest version is `1.21.0` already. 😀

[2021-07-08 14:51] Hongbo-Miao commented on #58
Created the feature request at https://github.com/yannh/kubeconform/issues/59
This can be closed as the issue has been found. Thank you @knutgoetz and @yannh help!

[2021-07-08 14:51] #58 closed

[2021-07-08 15:10] yannh commented on #59
"master" is the master branchof Kubernetes and is the.. "latest", potentially unreleased. I would suggest using that by default, wdyt?

[2021-07-08 15:17] Hongbo-Miao commented on #59
Oh I see. Or maybe a feature request like adding a `-kubernetes-version=latest` if Kubeconform is able to connect the internet?
For this case, either someone hardset each time when there is a new version on this repo, or find an automated way.

[2021-07-08 18:12] Hongbo-Miao opened #60 "Is there a Docker way to use?"
I saw currently kubeconform provides a way to use in GitHub Actions.

I am wondering is there a Docker way to use so that I can use in other CI?

For example, kubeval provides a Docker way to use at the bottom of https://www.kubeval.com/installation/
So when I want to analyze all files under k8s folder, I can do

[code]

Thanks!

[2021-07-09 19:11] maxbrunet commented on #60
Yes!

[code]

https://github.com/yannh/kubeconform/pkgs/container/kubeconform

[2021-07-09 19:27] Hongbo-Miao commented on #60
Oh thanks! I was searching the official one at https://hub.docker.com/
Didn't find the doc about the correct location.

Here is the correct command for future people if want to analyze all yaml files under a `k8s` folder:

[code]

[2021-07-09 19:27] #60 closed

[2021-07-09 20:19] yannh commented on #60
Thanks you were faster :) @Hongbo-Miao I didnt use dockerhub since they now use rate limits... I think ghcr.io does not have rate limits yet? :thinking:  I should update the docs at least to make this more clear. Thanks!

[2021-07-11 12:11] yannh commented on #57
I have a patch when reading from files using the file size as an indicator to grow the buffer, I am still wondering what might be the best approach when reading from a stream like stdin :thinking:

[2021-07-11 20:42] yannh commented on #57
@maxbrunet let me know what you think of my branch :) for stdin however... apart from trying to load all of stdin in memory  before doing anything, which I'm not so keen on, I'm not sure what the best solution might be..

[2021-07-11 21:03] yannh commented on #59
@Hongbo-Miao opened a PR, let me know what you think!

Note that you can already use -kubernetes-version master  :+1:  It's not the "latest" version, but literally the master branch from https://github.com/kubernetes/kubernetes .

[2021-07-11 21:22] Hongbo-Miao commented on #59
Thanks @yannh ! Looks good!

[2021-07-11 21:22] #59 closed

[2021-07-11 21:24] yannh commented on #59
Merged :) I'll cut a release soon, there are a few other patches that might make it in.

[2021-07-13 00:49] maxbrunet commented on #57
I do not see how you would start unmarshalling a partial JSON, or even the value of unmarshalling a partial YAML (nothing tells if it'll be valid in the end). IMHO it has to be loaded all in memory, and if the file or stream is large, it is the responsibility of the user to have enough memory available. What is the approach of other tools like `kubectl`?

[2021-07-14 21:30] herbaltealeaf commented on #51
I ran into a similar issue, but after converting the yaml version of custom resource definition using yannh's openapi2jsonschema.py, I'm now able to validate. Similarly, if I use kubectl to `add` the custom resource and the again to `get -o json`, this new format allows for validation to occur without this weird issue cropping up. Here's an example:

[2021-07-15 17:35] gerald-skydio opened #65 "Resource name validation"
Greetings!

Love this project, been adding it to our build out of kubernetes manifest.

It seems like this tool is not finding any DNS-1035 [as defined here](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-subdomain-names) `[a-z]([-a-z0-9]*[a-z0-9]` validation errors.

Example invalid manifest
[code]

While it can't apply to the cluster (currently 1.19 for this example

[2021-07-15 17:47] gerald-skydio commented on #65
Darn. This appears to be a validation on the api server side not in the openapi specs, which makes sense..

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/apis/apiserverinternal/validation/validation.go#L162

[2021-07-16 20:55] herbaltealeaf opened #66 "Validation for Kubernetes 19.8 fails for some resources."
This is happening when using the `-kubernetes-version 1.19.8` flag on kubeconform. Looking through the docs this appears to be a problem because the ConfigMap  and VirtualService ( _and possibly a bunch more_ ) resources no longer contain a file named `"{{ .ResourceKind }}-v1.json"`

https://github.com/yannh/kubernetes-json-schema/tree/master/v1.19.8-standalone-strict
![image](https://user-images.

[2021-07-17 14:01] yannh commented on #65
Hi Gerald! Yes indeed, unfortunately as described in ["limits of Kubeconform validation"](https://github.com/yannh/kubeconform#limits-of-kubeconform-validation) - extra restriction not part of the swagger definition of the resources can not be validated with Kubeconform.

[2021-07-17 14:01] #65 closed

[2021-07-27 07:59] yannh commented on #66
Mhhh. Indeed something has changed/is broken here. :thinking:

[2021-07-27 08:16] yannh commented on #66
1.19.8 was generated by this PR just before I automated the process, I guess these were generated incorrectly somehow. I deleted the folder and triggered the generate job to re-generate them. It's now fixed. Also, only 1.19.8 was affected :+1:  Thanks for the report!!

[2021-07-27 08:16] #66 closed

[2021-08-03 21:06] vcardenas opened #67 "Resource validation fails with invalid schema response from http location"
When additional http schema locations return a successful (as in 200 status code) response with other than the expected schema, the validation wrongly fails in at least two scenarios (assuming the resource is correct):

1. You add an http location with CRDs and the schema for your resource is not there but you have `-ignore-missing-schemas`
    This should succeed because of the `-ignore-missing-s

[2021-08-06 11:07] aexvir commented on #47
just leaving a small comment here, as we're maintaining our [own `kubconform` image](https://github.com/kiwicom/dockerfiles/releases/tag/kubeconform-0.4.8) that we're using in GitLab CI

you can either just call `kubeconform`
[code]

or use [our `analyse` script](https://github.com/kiwicom/dockerfiles/blob/master/kubeconform/analyse.py) which iterates and renders all the kustomizations before runn

[2021-08-07 14:17] #67 closed

[2021-08-07 14:19] yannh commented on #67
Much appreciated, thank you!

[2021-08-19 11:06] volaka opened #70 "Renaming Arguments"
Hi,

Thanks for the great work!

I might be wrong but I didn't see any shortened args in the help docs. (e.g. -kubernetes-version -> -v, -verbose -> -V)

Do you think it is worth being added?

[2021-08-19 12:32] yannh commented on #70
Renaming is hard and would break dramatically for everyone who is using the long form in their scripts... I am on the same page as https://superuser.com/questions/174564/why-are-there-short-and-long-alternatives-for-command-line-options  and believe long parameters are better since they re most explicit, at least when used in scripts: is -v the kubernetes version of the kubeconform version?

So wh

[2021-08-21 11:33] volaka commented on #70
My bad in using "renaming". I meant to say addind short-hand args for long-named ones. for example for -kubernetes-version we can also add -v option, so it wont break any pipelines but adds functionality

[2021-08-28 23:33] yannh commented on #70
@volaka I'll use my maintainer privilege here and keep it this way :grimacing:  -v is ambiguous (it could be the version of kubeconform) and I think the benefit of having this alias does not outweigh the added complexity. I know Kubeconform differs a bit from Kubeval here - but kubeconform uses a different library for parameter parsing that makes this a tiny bit more difficult.

If there was ever

[2021-08-28 23:33] #70 closed

[2021-08-29 10:58] yannh commented on #45
I have rewritten the Junit output tests, and I believe I have fixed this.

https://github.com/yannh/kubeconform/commit/2eefa7fc224aaff3fe3a687c9b33c4ed1d5432ac

I will make a new release very soon.

[2021-08-29 11:12] yannh commented on #47
I have rewritten the Docker image release process, new releases should publish an alpine variant:

![image](https://user-images.githubusercontent.com/210669/131248400-cd1228f3-a3b3-4c4d-ac5c-846ae532986e.png)

I hope this helps!

[2021-08-29 11:12] #47 closed

[2021-08-29 11:13] yannh commented on #45
Released with v0.4.10.

[2021-08-29 11:13] #45 closed

[2021-08-29 12:21] yannh commented on #57
@maxbrunet do you want an (undocumented?) environment variable to override the default value while we figure this out, if this is blocking you? :)

[2021-08-29 21:04] maxbrunet commented on #57
No hurries, I'm doing fine for now with `kubeval`, your schema repository, and the `openapi2jsonschema.py` script. Thank you @yannh

[2021-09-26 15:48] yannh commented on #57
Done, I guess I just needed to read the doc more carefully. Bufio.Scanner will resize the buffer on its own when needed. I also added a test for it.

[2021-09-26 15:48] #57 closed

[2021-09-26 16:00] tarioch opened #77 "Validating special helm values crd using values.schema.json"
I really like kubeconform and now with it, I'm able to validate CRDs very nicely.

I'm heavily relying on gitops/flux for managing my clusters and it's really nice to be able to do a lot of the validation locally with a pre-commit hook :)

I'm using flux2 and this heavily relies on a special CRD that looks like this

[code]

Now the CRD has a nice schema for everything except the values block (as

[2021-09-26 16:14] yannh commented on #77
Hi @tarioch , as the maintainer - I am not very familiar with helm3 nor Values.Schema.Json so my answer would be - I don't know. Do you have an example?

Kubeconform uses https://github.com/xeipuuv/gojsonschema  - I guess if you manage to patch the openapi2jsonschema.py script to output jsonschemas with value validation logic, if that logic is supported by gojsonschema, then it should work :)

I a

[2021-09-26 18:41] tarioch commented on #77
Thank you very much for your input, I've now been playing around a bit more and I think it's actually easier to create something to be able to run "helm lint" on the values, this does some more validation and deals with actually fetching the validations also for subcharts.

[2021-09-26 18:41] #77 closed

[2021-09-26 18:55] yannh commented on #77
Interesting! https://github.com/helm/helm/blob/433b90c4b6010415524bfd98b77efca0e6ec7205/pkg/lint/rules/template.go#L92-L97 I didn't know about this :) Might interest @eyarz
For posterity - some work could be done directly in Kubernetes https://github.com/kubernetes/kube-openapi/issues/218 to help here, at least for Kubernetes resources.

[2021-09-27 09:51] mjpieters opened #79 "FR: Include openapi2jsonschema.py script in docker image"
I'd love to use the docker image to validate helm charts in our projects, but we use a lot of CRDs. Some recent issues we had with our charts could have been caught much earlier if we had validated the charts against CRD schemas.

Those CRDs do have OpenAPI yaml definitions online, converting these (and caching the result) in a GH action for use with kubeconform would be ideal; your existing `open

[2021-09-27 12:31] yannh commented on #79
And I was thinking about moving the script from /scripts to /openapi2jsonschema  yesterday and was wondering whether people were doing that ;) I can provide a Docker image, yes, does it matter if its a different one than for kubeconform? They both have quite different requirements. Note that if you converted the CRDs once and checked those into version control, that could speed up your CI a bit, b

[2021-09-27 20:17] tarioch commented on #77
If anyone is interested, I now created a pre-commit hook here that validates those values using helm lint https://github.com/tarioch/pre-commit-hooks

[2021-09-28 09:51] mjpieters commented on #79
I'd be fine with a separate Docker image :-)

As for the resulting schema files: I'd use the [GitHub cache action](https://github.com/marketplace/actions/cache) to cache the conversion result rather than commit to the repo.

[2021-09-30 12:58] eyarz commented on #77
Thank you for looping me in!

The question is do you have to validate the values.yaml file or can you also validate those values after they are already injected?
you can pipe the rendered YAML to kubeconform:
[code]
You can also use the `-schema-location` together with that.

[2021-09-30 16:13] tarioch commented on #77
Right now I'm actually good enough with running helm lint on it (that already does a validation of the values), I might extend it to even to a helm template and then run kubeconform on the results to have even better checking.

[2021-10-20 20:36] tipok opened #80 "Mimick kubectl for handling of "empty files""
Empty files aren't causing errors while verified with `kubeconform`, but are failing while used with k8s.

Expected behaviour:

the command line tool should print an error if checking files without valid k8s configurations.

[2021-11-10 11:01] slamdev commented on #79
it would be nice to have an official docker image. I am using this for now
[code]
[code]

[2021-11-13 04:36] vovando-pomelo opened #81 "Schemas are ignored"
Hello! I've experimenting with the tool and I'm still stuck on how to name the .json files using the suggested format.
Context: I have a manifest that contains the following CRDs:
- security group policy
- virtual service
- external secret

I correctly converted the files using the provided script. The files are externalsecret_v1.json, securitygrouppolicy_v1beta1.json, virtualservice_v1alpha3.json

[2021-11-13 13:25] yannh commented on #81
Yes indeed, it is trying to use the wrong schemas! -schema-locations are supposed to be "repositories" not single file, so for the first resource that does not exist in the main kubernetes schema repo (default) it will pick the next schema you pass.

Try   -schema-location ./{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json'

This could likely use some better documentation!

[2021-11-14 18:23] Moulick opened #82 "KubeConform does not give error on invalid namespace names"
Kubeconform does not give an error when fed a invalid namespace as below
[code]
[code]
Version: 0.4.12

This is same as in KubeVal https://github.com/instrumenta/kubeval/issues/321

[2021-11-15 08:27] eyarz commented on #82
This validation (verifying the `name` value is valid) is not part K8s JSON Schema that Kubeconform is using to validate your manifest. This is why it will also happen if [you will run](https://github.com/datreeio/datree/issues/220#issuecomment-948388863) `kubectl --dry-run=client`. Therefore, it's not a bug, [just a limitation](https://github.com/yannh/kubeconform#limits-of-kubeconform-validation)

[2021-11-15 08:32] yannh commented on #82
Thanks @eyarz , and indeed - there are quite a few scenarios where Kubeconform will not detect an error, but the resource might still fail to apply. The correct (alas not so easy) way to fix this is to improve Kubernetes'[ swagger file](https://github.com/kubernetes/kubernetes/tree/master/api/openapi-spec),which is pretty much what Kubeconform validates against. Sorry :(

[2021-11-15 08:32] #82 closed

[2021-11-18 07:45] tun0 opened #84 "Support for "overlapping" Kinds"
Say you have the combination of the following:
[code]
and
[code]

Currently these are looked for at `podmonitor-monitoring-v1alpha1.json`  and `podmonitor-monitoring-v1.json` respectively.

If the former were to be promoted to `v1`, they would become indistinguishable from each-other.

Probably the easiest way to solve this is to offer the complete `apiVersion` field as template variable as well?

[2021-11-24 17:47] vovando-pomelo commented on #81
My bad! Thanks for your answer, it's working now.
And thanks for maintaining this great tool.

[2021-11-24 17:47] #81 closed

[2021-11-30 18:13] hadr10 opened #85 "schema location for more resources"
Hello,

is it possible to check whole folder with more schema locations for CRDs?
Here is example when i check one helm release and one standard k8s yaml in one folder:
PS C:\tools> .\kubeconform.exe .\ingress.yaml
.\ingress.yaml - HelmRelease nginx failed validation: could not find schema for HelmRelease
PS C:\tools> .\kubeconform.exe -schema-location .\schema\helmrelease_v2beta1.json .\ingress.y

[2021-11-30 19:12] yannh commented on #85
I think you are doing the same error as https://github.com/yannh/kubeconform/issues/81 , I really need to improve the documentation on that part :( Can you try the suggested solution in that thread? Thanks!

[2021-11-30 19:56] hadr10 commented on #85
Thank you, now it works.
PS C:\tools> .\kubeconform.exe -schema-location default -schema-location '.\schema\{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json' .\ingress.yaml
PS C:\tools>

Better documentation will help ;)

[2021-11-30 19:56] #85 closed

[2021-12-12 13:22] yannh commented on #80
As mentionned in the linked PR, I'm still not too sure how to handle this best, whether to fail on completely empty files, files that contain only empty resources, files that contain at least one empty resources.. :thinking: :(

[2021-12-18 02:55] maxbrunet commented on #57
I have finally taken the time to test this, and I have been able to validate all my manifests, thank you! Unfortunately, I do not observe any significant performance difference with `kubeval`, probably because my CI pipeline runs on a single core.

[2021-12-18 21:14] yannh commented on #57
Glad this works, thanks for posting an update! Indeed performance usually improves with number of cores, even though there could be a tiny startup win since we also download the schemas in parallel. That might not make such a massive difference in most cases though.

[2021-12-18 23:23] yannh commented on #84
Sorry @tun0 a bit late on this one :) Interesting problem, and yes, I believe your suggestion would likely solve this. I'll see when I can get to this improvement :bow:

[2021-12-29 15:07] Glitchm commented on #51
I'm very new to this, so someone feel free to educate me if there's a reason I shouldn't do this.

The project I'm currently working on uses flux and has a lot of `apiextensions.k8s.io/v1` with customResourceDefinitions. I probably don't need to validate those as flux creates those files, but it's part of a folder I'm validating. To get around this I pull the file from [here](https://github.com/ku

[2022-01-04 00:51] dobesv opened #90 "Cannot convert prometheus CRDs to json schema"
When trying to convert the prometheus CRDs to json schema, I get this error from the python script:

[code]

I messed around a bit trying to figure it out, but to no avail.  Has anyone seen this error before?

[2022-01-04 00:58] dobesv commented on #90
Hmm actually it seems like PyYAML doesn't like having a string value starting with `=`.  Interesting, I wonder if that's actually a yaml requirement.

[2022-01-04 00:58] #90 closed

[2022-01-13 18:51] luisdavim commented on #90
Did you report this upstream?

[2022-01-13 19:32] dobesv commented on #90
I didn't report it anywhere else.  I just manually corrected the file to quote those values and moved on.  I don't know whether PyYAML or the prometheus CRD file is the one that needs correcting.

[2022-01-20 23:58] shin-go opened #93 "Directory Support for Local Schema Location"
Using the Open API to JSON utility script provided, I've pulled down the schemas for all the relevant third party CRDs my org uses in our K8S clusters. The `-schema-location` option can be used multiple times, but for multiple JSON schema files it becomes a bit unwieldy if YAML files containing mixed resources and CRDs is validated against.

Ideally the `-schema-location` option would support bein

[2022-01-23 19:16] yannh commented on #93
Hi @shin-go , I believe you are mis-using the -schema-location parameter, you are not the first one, and that really points to poor documentation on my part :( Please check out [this answer](https://github.com/yannh/kubeconform/issues/81) , that should help you do what you are trying to achieve!

[2022-01-24 14:48] shin-go commented on #93
I gave that link a read and it's a different use case from what I (tried) to describe originally. In that particular user's case, they knew ahead of time what CRDs were in the YAML file attempting to validate. In my use case, I intend to integrate kubeconform in a validation CICD pipeline - I have no ability to guess what developers may put into their YAML files.

So unless I implement some pre-va

[2022-01-24 20:58] eyarz commented on #93
Just to clarify, `ResourceKind` and `ResourceAPIVersion` are parameters, not place-holders.
Therefore, you don't need to pass the `kind` and `apiVersion`, they will be pulled by Kubecoform.
This is a similar concept to how Kubeconform pulls schemas from [this repo](https://github.com/yannh/kubernetes-json-schema/).

Maybe [this video](https://hub.datree.io/schema-validation#ju-how-to-pull-your-crd

[2022-01-25 17:12] shin-go commented on #93
Ahhhhhh yes, that makes sense now. Thanks for your patience! One thing I did notice that the Python script seems to accept, but kubeconform parameters don't is the use of `{group}` when building the JSON schemas. kubeconform reports the following when trying to use group as `{{ .Group }}`:

[code]
Looking at the [registry.go](https://github.com/yannh/kubeconform/blob/f8ffb2f9e3cf0cf1de85535ce670fd

[2022-01-26 15:43] eyarz commented on #80
@yannh I think the best way to handle it is by copying the kubectl behavior for this.
If you will try to deploy an empty file -> kubectl will fail

[2022-01-31 15:44] seif-raafat opened #94 "Resources with missing schemas not ignored"
Hi!

I'm seeing some issues with `-ignore-missing-schemas` when supplying a JSON schema file ending with .json. There will be many custom resources that we need to be ignored, and listing them under the `-skip` flag would make it painful to maintain.

[code]

Expected behavior: ignore resources where schemas could not be found.

[2022-02-04 05:38] lirlia opened #95 "Can I use kubeconform hero image in my blog article?"
Hi @yannh !

![image](https://user-images.githubusercontent.com/10017674/152477818-b8655fe3-e9ff-47bf-b218-36c16a846f2d.png)

I want to introduce [asdf-kubeconform](https://github.com/lirlia/asdf-kubeconform) in my blog, and use this nice hero image.
Could you tell me License policy to use this image?

[2022-02-07 00:13] yannh commented on #95
Hi @lirlia ! This image has been contributed by @eyarz  under the licence of this repository, which is Apache v2 - this website explains well the conditions: https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)

 I hope this helps!

[2022-02-07 00:13] #95 closed

[2022-02-07 00:15] yannh commented on #94
Hi @seif-raafat ! Unfortunately  you are not correctly using -schema-location, and this being a common occurrence among users points to either a confusing parameter on my part or poor documentation :(

Could you check if this answer helps you out: https://github.com/yannh/kubeconform/issues/81 ?
All the best!

[2022-02-07 00:19] yannh commented on #80
That seems reasonable, I've updated the title of this ticket :+1:

[2022-02-07 01:26] lirlia commented on #95
@yannh

Thanks! I understood!

[2022-02-07 08:19] adriananeci commented on #51
@Glitchm While your approach suppress the error, it is not catching the real issues.
For example, given the following CRD spec:
[code]

`kubeconform` is returning a success message when is shouldn't:
[code]

Based on the schema validation, the `spec` section from a `CustomResourceDefinition` object is required based on https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/v3/apis__

[2022-02-09 20:04] seif-raafat commented on #94
Thank you, it is working as intended now after making the suggested adjustments. I think the documentation is good, I just didn't read it correctly. Great work on the product!

[2022-02-09 20:04] #94 closed

[2022-02-17 10:50] chuegel commented on #93
I'm also struggling including locally stored schemas with kubeconform.
So how exactly should the option `-schema-location` be used?
I'm trying to validate flux CRDs but this doesn't seem to work:
`kubeconform -schema-location default  -schema-location '/tmp/flux-crd-schemas/master-standalone-strict/{{ .ResourceKind }}-{{ .KindSuffix }}-{{ .ResourceAPIVersion }}.json' ./clusters/lab/ `

schema file

[2022-02-17 13:49] shin-go commented on #93
@chuegel The way I got it working was to use the python script to create the CRD schemas and saving the resulting json file(s) exporting the expected env as `export FILENAME_FORMAT='{kind}_{version}'`. Your case might be different, but I was originally having the CRD schema format as `{group}_{kind}_{version}`, which didn't seem to be expected by kubeform using the interpolation notation documente

[2022-02-18 10:31] hazim1093 commented on #93
@chuegel I got it to work with @shin-go 's trick

I renamed all files using the following shell script
[code]

and also had to provide the schema for CRDs (from https://github.com/yannh/kubeconform/issues/51#issuecomment-1002639168)

[code]

[2022-02-19 14:00] chuegel commented on #93
@hazim1093 yes, including `-schema-location https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/v3/apis__apiextensions.k8s.io__v1_openapi.json`worked.
Thank you

[2022-02-22 23:01] yannh commented on #93
Looks like this got solved in the end... If you feel the documentation could be made better on that -schema-location parameter please contribute this is a common pitfall :pray:

[2022-02-22 23:01] #93 closed

[2022-03-04 09:35] mstoetzer opened #97 "Do we want to add opencontainers labels to the Dockerfile?"
Opencontainers labels make it easy for various tools to extract information about the image:

[code]

e.g. `dependabot` or `renovate-bot` extract the release notes from the URL provided in `image.source`.

What do you think about adding this to kubeconform Dockerfiles?

[2022-03-07 21:40] tomhuang12 opened #98 "Validating SOPS encrypted secret"
I am using fluxv2 and following their [multi-tenancy](https://github.com/fluxcd/flux2-multi-tenancy) example which has a [script](https://github.com/fluxcd/flux2-multi-tenancy/blob/main/scripts/validate.sh) that uses `kubeconform` to validate files. I am also using [Mozilla SOPS](https://fluxcd.io/docs/guides/mozilla-sops/) to encrypt secrets to store in git. sops will add a additional field `sops

[2022-03-07 23:55] yannh commented on #97
Sounds good :) feel free to make a PR , otherwise i ll get to it soon!

[2022-03-08 00:02] yannh commented on #98
Hi @tomhuang12 ! you could patch the json schema for secrets, and use -schema-location to add that additional schema? that would ensure those are validated too. If you only need one additional optional field it shouldn't be too hard to patch manually? 🤔
Do note -schema-location needs to be a templated string, refer to the docs, several people have had issues using that correctly. Best of luck!

[2022-03-08 01:19] tomhuang12 commented on #98
Thanks for responding. Yes that's the first thing I've tried which is my third bullet point but it won't override the default `v1/Secret` schema is I use it in combination with `default`. Here is the example:

Command
[code]

sops-secret.yaml
<details>
apiVersion: v1
kind: Secret
metadata:
    name: test
    namespace: default
stringData:
    password: xyz
    username: abc
sops:
    kms: []
    g

[2022-03-08 09:06] mstoetzer commented on #97
Cool, what do you want to have as value for `vendor` and `authors`?

[2022-03-09 08:08] yannh commented on #98
So a note, and I understand the doc might not be perfect - the schemas repositories are searched in the order they are given, so you would need to pass your local folder first, otherwise it will pick the secret definition from the default registry if it finds it. Then, -schema-location  needs to be a templated string, so something like:

cat sops-secret.yaml | kubeconform -strict -ignore-missing-s

[2022-03-09 08:21] chuegel commented on #98
Here is a script which gets triggered by a CI pipeline. It is also based on the script you linked above.
It validates all flux resources successful:
[code]

`stdin - Secret redis-secret is valid`

[2022-03-09 08:24] yannh commented on #98
Thanks a lot  @chuegel ! Just a note as mentioned: kubeconform will search the schema registries in the order given as parameter, so it will only look in additional schema locations if it can not find a schema for that resource type/version in the default repository. If you want to override the schema from the default repo, you might need to pass --schema-location default  last! Thanks for jumping

[2022-03-10 23:43] nvuillam opened #99 "SARIF output ? :)"
Most of commonly used linters can now output [SARIF](https://sarifweb.azurewebsites.net/) format

Would it be also possible to have it for kubeconform ?

It would improve a lot its integration in the next version of MegaLinter :)

Note: you can see how it has been managed in golang for revive: https://github.com/mgechev/revive/pull/508/files , using [garif package](https://github.com/chavacava/gar

[2022-03-11 19:34] tomhuang12 commented on #98
Understood. Thank you all for this!

[2022-03-11 19:34] #98 closed

[2022-03-14 17:26] chuegel commented on #98
@tomhuang12 was right. The additional sops property cannot be validated. I couldn't figure out how to do that right now so I sticked with 'skip=secret'

Anyways, if you want to use a strict validation without skipping missing schemas, here is how we do it in our gitlab pipeline. We use `cert-manager`, `calico`, `istio` CRDs which we convert to json thanks to the handy [script](https://github.com/y

[2022-03-30 12:41] eyarz opened #100 "kind `CustomResourceDefinition` is not validated against schema"
I took this YAML example for creating a CRD from the [official K8s doc](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/):
[code]
When validating this YAML with kubeconform I'm getting the following error:
[code]
Although the schema exists on the `kubernetes-json-schema` repo:
https://github.com/yannh/kubernetes-json-schema/blob/master/v1.18.0/custom

[2022-04-01 09:16] vDMG opened #102 "add Group on schema-location variable"
Hello,

I would like to suggest a feature to deal with Group on variable allowed for schema-location option.

When I convert all my CRDs on json schema using `openapi2jsonschema` i'm using this filename format `FILENAME_FORMAT='{kind}-{group}-{version}'` because I need to distinguish CRDs with same name but from different group.

An exemple :
With flux we have a CRD named Buckets : buckets.source.

[2022-04-01 14:11] vDMG commented on #102
Sorry using `KindSuffix` resolve this !

[2022-04-01 14:11] #102 closed

[2022-04-04 12:31] vDMG commented on #100
This works with me using the latest `v0.4.13`  :
[code]

But you're right for Kubernetes 1.20.0 there is no customresourcedefinition.json on https://github.com/yannh/kubernetes-json-schema but may be this issue should be move to this other repo because it is not related to `kubeconform` directly.

[2022-04-05 13:34] pSub opened #103 "openapi2jsonschema.py fails for `AlertmanagerConfig`"
I tried to integrate `kubeconform` into the CI workflow of an internal project. On the intial run

`helm template . | kubeconform`

it had trouble finding the schemas for
* ExternalSecret
* AlertmanagerConfig
* PrometheusRule
* ServiceMonitors

I followed the advice in https://github.com/yannh/kubeconform/issues/51#issuecomment-880223640 to generate a schema using `openapi2jsonschema.py` from the

[2022-04-05 17:04] eyarz commented on #103
I submitted a PR to fix that.
In the meanwhile, you can this version of JSON Schema that I have created from your YAML:
https://gist.github.com/eyarz/c2c5665a877491f7fc0e84176fff8011

[2022-04-07 09:42] eyarz commented on #100
@wilmardo the version is not related.
I know it is working if I set the `-schema-location` flag (I even mentioned it in my issue).
The bug here is that it should work without the flag because the CRD is part of K8s native schemas.

[2022-04-07 14:11] wilmardo opened #105 "creationTimestamp: null is invalid since it isn't a string"
This is an interesting one so bear with me :)

First, this is the error I stumbled when validation FluxCD CRDs. The `creationTimestamp` can't be `null` and must be a `string` according to the spec:
[code]

So I raised an issue at https://github.com/fluxcd/flux2/issues/2623 since they seemed to be the culprit.
But received a response that they use `controller-gen` to generate the CRDs. So I looked

[2022-04-11 15:06] royhadad commented on #100
Hi @yannh, I'm currently working on this issue, could you please assign me?

I found the reason it's missing - it's because versions with the "-standalone" suffix are missing the definition for `customResourceDefinition` in https://github.com/yannh/kubernetes-json-schema

Also, I notice that kubeconform **always** reaches out to the "-standalone" version.
Could you please point out the difference

[2022-04-11 18:28] eyarz commented on #100
@royhadad here is the [explanation](https://github.com/yannh/kubernetes-json-schema/blob/master/build.sh#L6-L9) about the diff between `standalone` and `local`.

I found [this bug](https://github.com/yannh/kubeconform/issues/66) from digging around and based on your comment, I guess my bug is the same problem...

[2022-04-11 19:23] yannh commented on #100
@royhadad frankly it's a great question ;) The kubernetes-json-schema repo - I mostly automated what was upstream and kept the same repository format. Maybe we could keep only the standalone folders? The repo is growing pretty fast. Maybe originally that repo was not meant _just for_  kubeval...

[2022-04-11 19:47] royhadad commented on #100
@yannh Assuming that only the "-standalone" and "-standalone-strict" files are used, removing the other types is definitely a possibility.
But I had an idea - in case the file is not found in the standalone, search for it in the non-standalone as a fallback.

In any case, why is it then that the standalone files are missing customResourceDefinition? Is it a bug in the automated process?

How would

[2022-04-11 20:01] #103 closed

[2022-04-11 20:03] yannh commented on #100
@royhadad not sure what the benefit would be vs adding the CustomResourceDefinition to the standalone folders. Yes, I am assuming it is a bug in the automated process. I guess I would try to see why https://github.com/yannh/kubernetes-json-schema/blob/a718ad35ec16742bb17e124de1ea40f8b2510ff1/build.sh#L30 doesnt generate the appropriate file :)

[2022-04-11 20:08] yannh commented on #99
Hi @nvuillam , I have no immediate plans to add SARIF format, honestly it is not something I personnally need. From looking quickly at the spec I am not exactly sure what the output would look like :thinking:  If someone came with a decently-enough tested patch I would likely merge that though :)

[2022-04-11 20:08] #99 closed

[2022-04-11 20:15] yannh commented on #105
Hi @wilmardo and thanks for all the digging! I have limited amount of time to investigate this, but I would be really grateful if someone figured out a way to validate the Custom Resource Definitions / figured a way to get this to work :)

[2022-04-11 21:48] nvuillam commented on #99
Thanks for your reply, go is not in my stack yet, I hope someone will see this issue and provide a PR :)

[2022-04-12 14:51] royhadad commented on #100
Update:
I have found an issue in the original openapi2jsonschema repo: https://github.com/instrumenta/openapi2jsonschema/pull/14
seems that the problem is because CustomResourceDefinition contains recursive refs, it is intentionally ignored for the "-standalone" and "-standalone-strict"

A workaround for now is to use the `-schema-location` flag twice, once with the default (standalone) location,

[2022-04-13 08:41] pSub opened #106 "Alpine Docker Image does not work in Gitlab CI"
I am unable to integrate kubeconform into our Gitlab CI pipeline using the Alpine docker image. The relevant part of my Gitlab CI configuration is

[code]

The gitlab-runner fails to find a `sh`:

[code]

It looks like the error described in #47. Is there something wrong with my configuration or is this a regression?

[2022-04-26 15:02] hbouaziz commented on #100
Hi all,
@yannh @royhadad
I'm facing the same problem when extracting the kind of a CRD.
This is my script I used to generate the CRD Scheams:
[code]
----------
### OUTPUT
![image](https://user-images.githubusercontent.com/93607370/165330938-44c5184b-a61e-4d81-9711-a023b8491274.png)

The problem I get is whenever I precise the exact schema location path for the CRD (e.g. : `-schema-location 'schema

[2022-04-26 18:51] royhadad commented on #100
@hbouaziz

I can't see how your problem relates to the original issue. This issue is about the **kind** customResourceDefinition, while it seems you are having trouble with the custom resource definitions themselves.

[2022-04-27 07:12] royhadad opened #109 "Add project architecture diagram to Readme"
Hey all, I had an idea.
What if we added a diagram of the project's architecture in the Readme file, this will help people grasp how the validation works, I thought we can do something similar to the [datree project](https://github.com/datreeio/datree#%EF%B8%8F-architecture)

any thoughts?

[2022-04-27 07:21] yannh commented on #109
Sure, that would be nice :)

[2022-04-27 07:30] hbouaziz commented on #100
Thanks @royhadad  for your reply ! Indeed it has no relation with the original issue, sorry for that
 Please If you can share any similar solution to this issue or some ways to solve it
 thanks

[2022-04-27 07:59] eyarz commented on #100
it looks like you have an extra `prometheuses_` prefix that you need to remove:
<img width="359" alt="image" src="https://user-images.githubusercontent.com/19731161/165470251-b34b9081-ea11-477d-8f1f-9bb2d3dc71aa.png">

[2022-04-27 08:24] hbouaziz commented on #100
No @eyarz it's not an extra prefix, in fact this what I should have as a valuse for `.ResourceKind` Variable
It was just for testing

![image](https://user-images.githubusercontent.com/93607370/165474982-1d546cfc-f76f-4cf9-bacb-0ff060ebedae.png)
However, if I change the kind value to prometheus it works correctly

[2022-04-27 09:45] eyarz commented on #100
@hbouaziz this is why I deleted my answer, and you already replied before I had a chance to fix it 😅
the issue was that you had a discrepancy in the file name:
you create the files as `{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json` but in your command screenshot you look for the file pattern `prometheuses_{{ .ResourceAPIVersion }}.json`

[2022-04-27 12:38] hbouaziz commented on #100
Hi @eyarz again,
Yes am creating files as `{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json` pattern, here is some of my output files :
[code]
Now the problem when I try to validate using the `-schema-location` flag with the same pattern `scheams/{{ .ResourceKind }}_{{ .ResourceAPIVersion }}.json`
The `{{ .ResourceKind }}` doesn't match the exact kind I expect (`kafkauser` as example)
Instead, I

[2022-04-27 19:40] eyarz commented on #100
weird. I'm not able to reproduce :/
![image](https://user-images.githubusercontent.com/19731161/165608675-a469006f-060c-44cf-b2eb-e5cb2bbefe1f.png)
are you running the latest version of Kubeconform?

@hbouaziz, I think it will be better if you will open a new issue with all the relevant details so we will stop "spamming" this issue...

[2022-04-28 09:04] hbouaziz opened #110 "Couldn't Parse `{{ .ResourceKind }}` Variable"
Hi all,
When I tried to manage my CRDs and validate them againt Kubeconform, I got a problem with parsing the correct `Kind` from my `yaml file` to match the new schema generated file.

### Process
1. I dumped all my CRDs from my Cluster
2. Dumped the python file openapi2jsonschema (from https://raw.githubusercontent.com/yannh/kubeconform/master/scripts/openapi2jsonschema.py) to do the conversion

[2022-04-28 09:06] hbouaziz commented on #100
Hi @eyarz
I created a new issue on https://github.com/yannh/kubeconform/issues/110

[2022-04-28 09:11] hbouaziz commented on #110
For everyone facing the same issue,
I created this code to automatize the work (Isn't that optimized but it could help)
[code]
Hope this can help !! and looking for a true solution to `{{ .ResourceKind }}` variable

[2022-04-28 19:26] eyarz commented on #110
ok, now that wrote all the details, I'm able to understand why this is not working for you.
first, let's make sure that we are using the same jargon:
CRD - it's the CustomResourceDefinition itself (i.e. `kind: CustomResourceDefinition`)
CR - it's the CustomResource that is defined by the CRD (e.g. `kind: KafkaUser`)

your CRs are validated correctly. this is why I [wasn't able to reproduce](https:

[2022-05-24 13:04] sc-joostvandencruyce commented on #98
I used this workaround to strip the sops part:
`cat "${file}" | yq "del(.sops)" | kubeconform "${kubeconform_config[@]}"`

and

`kustomize build "${file/%$kustomize_config}" "${kustomize_flags[@]}" | \
    yq "del(.sops)" | \
    kubeconform "${kubeconform_config[@]}"`

[2022-05-25 11:27] balonik commented on #106
The issue is in `ENTRYPOINT ["/kubeconform"]` line in Dockerfile which GitLab Runners with Docker executor (the shared ones on GitLab.com) respect and then what's actually being executed is:
[code]

as you can see this error is actually returned by `kubeconform` binary
[code]

solution is to override entrypoint, you can do it in your `.gitlab-ci.yaml` file:
[code]

Note: You won't encounter this i

[2022-05-26 16:19] pSub commented on #106
Thank you for this workaround @balonik!

[2022-06-01 09:52] antoineNRB opened #113 "CronJob failed validation: could not find schema for CronJob"
Hello, I'm using kubeconform to validate a CronJob, but kubeconform doesn't seem to have the schema in the default location. Is it planed to add it ? Where can I find it so I can define it myself?
Thanks !

[2022-06-01 09:57] eyarz commented on #113
Do you see the relevant schema (I don't know which version you're using) in this fork?
https://github.com/yannh/kubernetes-json-schema

[2022-06-09 13:56] maowerner opened #115 "Failed verification because kubeconform could not find local schema"
I am trying to validate Argo-Workflows with kubeconform. Unfortunately no matter what I always get an error because kubeconform `could not find schema`.

I specifically try to validate the `CronWorkflow` and `WorkflowTemplate` in version `v1alpha1`. They have an openapi definition which I parsed with `openapi2jsonschema`
[code]

This creates files `schemas/cronworkflow.json` and `schemas/workflowt

[2022-06-09 14:33] eyarz commented on #115
works on my machine 🤔
<img width="1133" alt="image" src="https://user-images.githubusercontent.com/19731161/172872477-f6290230-cc9c-4118-b327-5cd5e8103cbc.png">

can you try to use the schemas from here?
https://github.com/datreeio/CRDs-catalog/tree/main/argo

[2022-06-13 06:15] maowerner commented on #115
I was looking for exactly such a repo as well but it did not come up in my searches. With these schema definitions it works out of the box. I will investigate the difference a bit, but these solves my ticket.

I noticed a typo `deafult` - `default` in your command and instead of downloading I used the repo directly
[code]

Thank you very much.

[2022-06-13 06:15] #115 closed

[2022-06-19 16:22] yannh commented on #106
What do you think would be the best way for this do you think, just add some documentation? Changing the entrypoint can be weird sometimes with how signals are processed, if Gitlab lets you override the entrypoing Iä d rather do this.

[2022-06-22 12:20] balonik opened #117 "Unable to pull container images"
I just noticed today I am no longer able to pull container images.

[code]

[2022-06-23 10:50] #100 closed

[2022-06-23 11:41] balonik commented on #117
resolved itself. Probably some GHCR issue?

[2022-06-23 11:41] #117 closed

[2022-06-23 11:43] yannh commented on #117
Maybe https://www.githubstatus.com/incidents/10vm6ctn52gx :thinking:

[2022-07-06 07:42] avencl opened #118 "Multiple schema locations"
Hi, I was trying to use kubeconform to validate some resources that are supported and some that would be CustomResources. And everything works perfectly when i pass `-schema-location default` and `-schema-location <pathToJson1>`. But when i try to do something like this `-schema-location default -schema-location <pathToJson1> -schema-location <pathToJson2>` it only looks at first schema passed and

[2022-07-07 11:24] avencl commented on #118
I managed to go around it.

The error was when i tried to use command like this:
`kubeconform mapping.yaml -schema-location schema/hydra.json -schema-location schema/mapping.json` i would get this error: `mapping.yaml - Mapping api failed validation: could not find schema for Mapping`

But when i ordered `schema-location` differently like this : `kubeconform mapping.yaml -schema-location schema/ma

[2022-07-11 18:42] PawelLipski opened #119 "When `-kubernetes-version=X.Y` (and not `X.Y.Z`) is provided, kubeconform cannot find schema even for built-in resources"
Version: v0.4.13

Smallest repro:

[code]

The error should be something more clear, like just `specify kubernetes-version as X.Y.Z rather as X.Y`.

[2022-07-21 12:19] balonik commented on #106
I think a documentation for this specific use-case is OK.

[2022-07-24 18:08] pSub commented on #106
I agree with @balonik, adding documentation for this case is enough.

[2022-08-02 18:06] PawelLipski opened #122 "Should a resource with an empty name be accepted?"
Each of the following is accepted by`kubeconform`:

[code]

But I'm getting, as expected, `from server for: "....yaml": resource name may not be empty` from k8s server :/

[2022-08-02 18:15] eyarz commented on #122
This is actually the expected behavior.
Name check is NOT part of the K8s schema and therefore, it's [not validated by kubeconform](https://github.com/yannh/kubeconform#limits-of-kubeconform-validation).
Why it's not part of the schema, and it's part of the server validation script? I don't know 🤷‍♂️

BTW, the key can be `metadata.name` OR `metadata.generateName`:
https://hub.datree.io/built-in-ru

[2022-08-24 15:40] eloo opened #123 "kubeconform fails for object value=null"
Hi,
just have seen that `key: null` is validated correctly.
Also in kubeval there was similar issue where it is indicated that `key: null` is a valid `object` or at least should be expected
https://github.com/instrumenta/kubeval/issues/168

[2022-08-24 15:51] eyarz commented on #123
Can you provide an example of a manifest with `key: null` that should not pass the schema validation?

[2022-08-24 15:53] yannh commented on #123
Gosh @eyarz you're fast :rofl: :100:  Same question ;)

[2022-08-25 06:09] mustafaStakater opened #124 "kubeconform fails validation on null/empty fields"
**Problem Description:**
We are using a kubeconform to validate manifests generated as a Helm chart in our pipelines. We are using mongodb helm chart that generated a few empty / null fields in a Deployment and Service as below
![Screenshot from 2022-08-24 18-04-38](https://user-images.githubusercontent.com/101177975/186587622-260cf58e-8de9-4475-aaf3-99bee796b4e7.png)
![Screenshot from 2022-08-24

[2022-08-25 06:43] eyarz commented on #124
I tried to reproduce this error with the following config (`nodePort: null`):
[code]
As you can see here, Kubeconform is passing:
![image](https://user-images.githubusercontent.com/19731161/186590033-8fe46dc9-968b-49c6-b1ae-083849a6c438.png)

I see that you're using `-schema-location "$location"` so maybe this is why I get a different result.
which schema do you use there to validate your manifest

[2022-08-25 06:54] mustafaStakater commented on #124
We are using openshift & extract schema from openshift openapi endpoint and convert it using openshift2jsonschema utility. it generates json schemas for all resources like in the image below.
![Screenshot from 2022-08-25 11-53-05](https://user-images.githubusercontent.com/101177975/186595508-45df05b2-a0ea-4a3f-a5d3-b3bc1fd8b3cf.png)

[2022-08-25 07:22] eloo commented on #123
Hi, yes of course i have an example ;)

claim.yml
[code]
xrd.json
[code]

command:
[code]

result:
[code]

[2022-08-25 07:30] mustafaStakater commented on #124
The above file you added is failing for my schemas, you can see schema in the repo below
https://github.com/mustafaStakater/sharing/tree/main/kubeconform/

Before using change $ref field on **line 27,31,35** in **service-v1.json**

[2022-08-25 07:53] eyarz commented on #124
So the OpenShift schema defines that `nodePort: null` for object type `Service`. It's the expected behavior :)

[2022-08-25 08:05] eyarz commented on #123
[code]
According to the JSON schema you attached, the key `compositionRevisionRef` **must contain** a property (object) with the key `name` (here is a [valid example](https://github.com/ankuraniket/Argocd-trial/blob/9991766612ae1c59d39b37b3c0a6f85c5a88fa20/Composition-Revision/ec2-claim-manual-update.yaml#L12-L13)).

Therefore, it's the expected behavior that Kubconform will fail when `spec.compos

[2022-08-25 08:10] hanzala1234 commented on #124
@eyarz  if that defines, it should not have failed. isn't it?

[2022-08-25 08:19] eyarz commented on #124
@hanzala1234 I forget to add "is not allowed" 🤦‍♂️. I updated my comment.
BTW, here you can find a similar issue: https://github.com/yannh/kubeconform/issues/123

[2022-08-25 08:29] hanzala1234 commented on #124
thanks @eyarz  . its quite common scenario though that optional field will have null values. is that something where we can have some workaround?

[2022-08-25 09:11] eloo commented on #123
@eyarz are you sure?
because the `compositionRevisionRef` itself is not required so setting the key to null should be fine

further this is example is accepted by kubernetes and kubectl without any issues

[2022-08-25 09:45] eyarz commented on #124
As a workaround, you can use the `skip` flag to skip this type of k8s kind:
![image](https://user-images.githubusercontent.com/19731161/186632424-ab9c61aa-925a-40ec-a418-a03707a43a28.png)

But the best practice is to open an issue / PR in the k8s project to fix the schema.

[2022-08-25 09:54] eyarz commented on #123
I'm not a JSON schema expert, but I know that the keyword `required` means [it's mandatory](https://json-schema.org/understanding-json-schema/reference/object.html#required-properties).

But we need to clarify something, Kubeconfrom checks manifest against a **provided schema(s)**. If you think `spec.compositionRevisionRef: {}` should pass, you can just fix your schema. There isn't any bug to fix

[2022-08-25 09:58] eloo commented on #123
@eyarz i guess we have a misunderstanding here

`spec.compositionRevisionRef: {}` should NOT pass -> because we provide a object without name

but

`spec.compositionRevisionRef: null` should pass -> because we remove the whole key

and `spec.compositionRevisionRef` itself is NOT required.. only `spec.compositionRevisionRef.name` is required if `spec.compositionRevisionRef` is present

but with `sp

[2022-08-25 10:12] eyarz commented on #123
Thank you for the clarification, now we are synced :)

The problem is that your schema states that `spec.compositionRevisionRef` should be an object and `null` type is not an object according to the [JSON schema draft](https://json-schema.org/understanding-json-schema/reference/null.html).

So the issue is still that the manifest doesn't match the schema - you can also check it out [here](https://

[2022-08-25 10:32] eloo commented on #123
Hi,

okay.. i have seen that when i would change the json to be like this
[code]

its working..

but now its getting curious :P
we are using your script to translate the CRDs into json schemas
https://raw.githubusercontent.com/yannh/kubeconform/master/scripts/openapi2jsonschema.py

so maybe this script needs to be updated?

[2022-08-25 10:37] eyarz commented on #123
It's not my script so I can't take credit for it 😅

The interesting question is if this is also how it's defined in the CRD or if it's something that is happening when translating the openAPI into JSON schema.

If you give a link to the CRD itself, I can look into it :)

[2022-08-25 11:11] eloo commented on #123
crd.yml
[code]

[2022-08-25 12:33] eyarz commented on #123
So it's the same definition in the openAPI spec:
[code]
Therefore you can fix it locally or open a PR in the project that provides this CRD (crossplane?).
there is nothing to fix from the Kubeconform side from what I see...

[2022-08-25 12:51] eloo commented on #123
yep that snippet you have posted is correct..

but the problem is that `compositionRevisionRef` is not required.. so null is valid

[2022-08-25 14:29] mustafaStakater commented on #124
Service and deployments are most basic kinds, we cant ignore them because almost all applications contain services & deployments.

We arent using it locally, we intend to use it inside a pipeline as a task (extract schema from <cluster_ip>:442/openshift/openapi/v2 endpoint and validate manifests against it). manually fixing doesnt seem right to me

Point is these manifests with null / empty fields

[2022-09-26 17:21] hodorrodoh opened #127 "Add time to testcases for junit output"
### Context

* kubeconform version: `v0.4.14`

Our team is leveraging kubeconform within [buildkite pipelines](https://buildkite.com/docs) to perform validations and then integrating with [test analytics](https://buildkite.com/docs/test-analytics).

However when running kubeconform with the `--output-type` as `junit` the output xml is not recognized as valid xml when uploading results to test anal

[2022-09-27 07:39] yannh commented on #127
Hi @hodorrodoh , it would likely be non trivial to set an appropriate time here, we don't measure time for individual tests...  I could set it to 0 to make it not error anymore...  do you think it would be worth it?

[2022-09-27 07:40] yannh commented on #122
Closing, I believe @eyarz is right here... and yes, sometimes the server validation is more stringent than the schema itself :(

[2022-09-27 07:40] #122 closed

[2022-09-27 07:41] yannh commented on #118
Hi @avencl , sorry for the late reply - yes, this is the intended behaviour. Sorry if the documentation was not clear!

[2022-09-27 07:41] #118 closed

[2022-09-27 14:17] hodorrodoh commented on #127
Yep agree it would be non trivial but still think it would be worth to implement since test analytics aggregates all the tests to determine overall "app" flakiness/stability

For example our team is also leveraging [conftest](https://github.com/open-policy-agent/conftest) to perform policy enforcement and conftest's junit results include the time field for both `testsuites` and individual `testsca

[2022-09-27 14:28] yannh commented on #127
Right but conftests tests can indeed be very slow :see_no_evil:  It's quite unlikely that a single testCase here would take more than a ms, probably quite a bit less than that... the whole testsuite maybe?  Adding timings though might increase run durations too :thinking:

If the JUnit output does not respect the JUnit schema I'm definitely willing to fix that.

However I'm not sure I would see th

[2022-10-05 23:13] arthurhenrique opened #129 "Adding support to autoscaling/v2beta2"
how can I add autoscaling/v2beta2 this resources?

[2022-10-07 03:37] birdx0810 commented on #129
I'm also getting an error for HorizontalPodAutoscaler suggesting that it could not find schema.
(and PodDisruptionBudget and PodSecurityPolicy.

[2022-10-07 03:58] arthurhenrique commented on #129
yes im gettting error, because seems not support v2beta

[2022-10-07 08:30] yannh commented on #129
Hello! Are you validating your manifests against the correct kubernetes version - see the -kubernetes-version  parameter? Could you maybe add a file to this ticket with a command line on how to reproduce?

[2022-10-07 16:11] arthurhenrique commented on #129
of course, follows bellow

file:
[code]

runs:

[code]

[2022-10-09 07:22] eyarz commented on #129
🤔 interesting.
I'm not able to reproduce the error you describe with the manifest that you provided:
<img width="716" alt="image" src="https://user-images.githubusercontent.com/19731161/194743513-0c45cedc-a727-4dfb-be9a-acfe035fa610.png">

@arthurhenrique can you also provide a screenshot of your terminal with the error?

[2022-10-09 21:40] arthurhenrique commented on #129
sure!
<img width="1237" alt="image" src="https://user-images.githubusercontent.com/3329711/194780683-859abac6-0f48-4ea0-8033-d635ce8ee5f2.png">

[2022-10-10 21:45] arthurhenrique commented on #129
this works! thx!

[2022-10-11 05:12] eyarz commented on #129
But wait, we haven't solved why you need to use `-schema-location` to make it works 😅
Is the command `kubeconform -summary -schema-location default hpa.yaml` also passing w/o the error?

[2022-10-11 13:37] arthurhenrique commented on #129
yep!

[code]

[2022-10-11 13:40] yannh commented on #129
@arthurhenrique For Kubeconform to complete this command, it needs to download a schema from the internet. I suspect this might be silently failing here. Do you have a proxy / something that might block downloads from Github? I admit some verbose mode here would be quite useful.

[2022-10-11 13:46] eyarz commented on #129
@yannh if this is the case, why is able to validate hpa.yaml when using `-schema-location default`?

[2022-10-11 13:58] eyarz commented on #129
my bad, I missed it 🤦‍♂️

[2022-10-11 17:42] arthurhenrique commented on #129
I have debugged the kubeconform code base and in this hpa v2beta2 case the `schemaPath` function generate this url "https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master-standalone/horizontalpodautoscaler-autoscaling-v2beta2.json"

But this returns 404. Perharps should add in this directory? (https://github.com/yannh/kubernetes-json-schema/tree/master/master-standalone)

[2022-10-12 04:27] james-callahan commented on #79
@yannh I'd still love to see this happen.

[2022-10-12 06:27] james-callahan opened #130 "openapi2jsonschema.py strips group to first subdomain"
I'm trying to use `FILENAME_FORMAT='{group}-{version}-{kind}'`. I would have expected this to work with `-schema-location './crd-schemas/{{ .Group }}-{{ .ResourceAPIVersion }}-{{ .ResourceKind }}.json'`. However for some reason openapi2jsonschema.py splits the group on `.` and only uses the first component: https://github.com/yannh/kubeconform/blob/3cb76bc5e623903363d016fe4ce60036a42ee01a/scripts/

[2022-10-14 03:11] arthurhenrique commented on #129
thx. ill close it

[2022-10-14 03:11] #129 closed

[2022-10-14 07:35] petar-nikolovski-cif opened #131 "Kubeconform fails to find existing schema"
I have problem validating ArgoCD `ApplicationSet` kind. If I try to generate it from a CRD file then `openapi2jsonschema` fails:

[code]

However, I am able to generate schema from the cluster itself:

[code]

Now if I try to use this on, for example, the following CR:

[code]

I get the following error (despite schema being generated correctly):

[code]

[2022-10-14 11:36] Blackclaws opened #132 "Invalid Deployment is validated successfully"
Considering the following deployment:

[code]

This will fail to validate in kubernetes as the matchLabels do not match the template labels. However kubeconform accepts this deployment.

[2022-10-15 13:26] yannh commented on #129
@arthurhenrique I realised your report is a duplicate of https://github.com/yannh/kubernetes-json-schema/issues/18 . HPAv2beta2 has been superseded  by v2 - please specify which version of k8s you want to validate against, and update your resources if you are running one of the newest versions of Kubernetes!

[2022-10-15 13:28] yannh commented on #132
Hi @Blackclaws , Kubeconform only validates your manifests against the OpenAPI schema released by the Kubernetes project, which is limited and likely does not include the validation you are looking for. I would recommend looking at [conftest](https://github.com/open-policy-agent/conftest) for additional validation rules!

[2022-10-15 13:28] #132 closed

[2022-10-15 13:32] yannh commented on #131
Hi @petar-nikolovski-cif , can you confirm that your jsonschema is in schemas/applicationset.json ?

[2022-10-15 15:37] yannh commented on #131
Note - I am working on a -debug mode in this branch https://github.com/yannh/kubeconform/pull/133/files to make more obvious where Kubeconform is searching for schemas.

[2022-10-15 20:06] eyarz commented on #131
@petar-nikolovski-cif my guess is that the schema file name doesn't match the pattern you used with Kubeconform (`'schemas/{{ .ResourceKind }}.json'`). try to use an explicit path (w/o the `{{ .ResourceKind }}` param) instead.

BTW, you can also leverage all the CRs that are in the [CRDs-catalog](https://github.com/datreeio/CRDs-catalog/tree/main/argoproj.io) (including `ApplicationSet`) if you wi

[2022-10-16 13:21] yannh commented on #127
Done as part of #134 - according to the Jenkins Junit spec it is optional, but there seems to be several JUnit formats around. I ve added this for compatibility.

[2022-10-16 13:21] #127 closed

[2022-10-16 13:21] yannh commented on #124
Closing as duplicate of #123

[2022-10-16 13:21] #124 closed

[2022-10-16 13:28] yannh commented on #84
Hi @tun0 , I believe this should have been resolved by https://github.com/yannh/kubeconform/pull/120 !

[2022-10-16 13:28] #84 closed

[2022-10-16 13:38] #97 closed

[2022-10-16 13:40] yannh commented on #21
Closing as implemented so far - I would consider PRs improving on the current state, but I am unlikely to spend more time on it myself since I personally do not need it.

[2022-10-16 13:40] #21 closed

[2022-10-16 13:47] yannh commented on #106
Documentation added in https://github.com/yannh/kubeconform/pull/139  I hope it is sufficient! Feel free to send a PR for more details if not :bowing_man:

[2022-10-16 13:47] #106 closed

[2022-10-17 05:27] cherviakovtaskworld opened #141 "Installed as go package cannot specify filename patterns to ignore"
[code]

[2022-10-17 05:29] cherviakovtaskworld commented on #141
Already tried
[code]

[2022-10-17 05:39] #141 closed

[2022-10-17 15:41] hodorrodoh commented on #127
Confirming:
- updated our pipeline to `0.5.0`
- uploaded results into buildkite test analytics successfully

Worked perfectly thank you for the help 😄

[2022-10-18 06:31] eyarz commented on #131
Yann just released a new version of kubeconform (0.5.0) with debugging support. Try and use the `-debug` flag to understand why `ApplicationSet` is not getting validated.

Also, it would be helpful if you could share your `schemas/applicationset.json` file. This way, I will be able to try and reproduce it also.

[2022-10-18 07:32] petar-nikolovski-cif commented on #131
This is with debug:

[code]

However, we solved the problem when we exported schemas with: `openapi2jsonschema --kubernetes --stand-alone --strict shema.json` it seems `--stand-alone` is mandatory.

[2022-10-19 18:20] dkulchinsky opened #142 "Extend kubeconform to validate object names"
Very nice tool! thanks for working on this 👍🏼

I wonder if you'd consider adding validation of Object Names and IDs to ensure they conform with Kubernetes standards as described in https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

for example, a volume named `my_config` should be rejected, while `my-config` should be valid

[2022-10-20 06:25] eyarz commented on #142
Some validations are not part of the K8s schema because they are performed on the cluster side. The object name validation is not a part of the K8s schema. Therefore, it's [not validated by kubeconform](https://github.com/yannh/kubeconform#limits-of-kubeconform-validation).

There are two solutions for your use case:
1) use kubectl `--dry-run=server` flag so it will perform the cluster (server) si

[2022-10-20 20:29] dkulchinsky commented on #142
Thanks for your reply @eyarz!

my main motivation was to run this in CI to catch anything that might fail to deploy later on (we use a GitOps deployment model), so `kubectl --dry-run=server` is not really an option.

we already use conftest for testing in CI, was looking to avoid the need to write all the tests myself 😄

Thanks for suggesting Datree! I'll take a look and perhaps we can add it out

[2022-10-20 20:29] #142 closed

[2022-10-25 21:47] kevinburkesegment opened #143 "Help validating ArgoCD ApplicationSet - "could not find schema" error"
I'm trying to validate that the ApplicationSet files I am writing are valid. A CRD exists here, that in theory, I can validate against: https://github.com/argoproj/argo-cd/blob/master/manifests/crds/applicationset-crd.yaml

This gets aggregated into one large `swagger.json` file here: https://github.com/argoproj/argo-cd/blob/master/assets/swagger.json

I used `openapi2jsonschema` to convert the `s

[2022-10-26 14:35] gohayon opened #144 "kubeconform: not found on GitLab CI Pipeline"
Hi
What am I missing?
I'm trying to do a simple test by running the following pipeline:

[code]

But I keep getting "/bin/sh: eval: line 141: kubeconform: not found" error :

[code]

[2022-10-26 18:11] kevinburkesegment commented on #143
Thank you, that's helpful!

I'm not sure I follow - I used openapi2jsonschema to convert the swagger.json file into a bunch of subcomponents:

[code]

And then uploaded these to a public Github repo. https://github.com/kevinburkesegment/argocd-schemas/

But maybe you are saying, you're not sure why the tool did not generate complete files.

[2022-10-26 18:27] eyarz commented on #143
yes, I'm not familiar enough with this script to help you debug why the conversion didn't work.

[2022-10-26 21:53] ZoeKoch commented on #144
Same problem here, what worked for me was updating the script to be
`    - ~/../kubeconform deployment.yaml`

[2022-10-26 21:59] gohayon commented on #144
Perfect, @ZoeKoch.
That did the trick.
Thank you very much.......

[2022-10-26 21:59] #144 closed

[2022-10-31 17:09] amar-chand opened #146 "Improvements in License File"
Hey @yannh,

Greetings. Our team is trying to import and use Kubeconform for some validation part in our codebase. However, the Apache License file that has been added to this repo is not a proper Apache License file, due to which our code pipelines are not able to understand the license and checks are failing. We are unable to move forward until the license file is proper. Could you please add an

[2022-11-09 16:30] nosleep77 opened #148 "not detecting issues in simple deployment file"
I generated a simple deployment file

`kubectl create deploy nginx --image nginx -o yaml`

I then tinker with this section

`    spec:
       containers:
       - image: nginx
         name: nginx`

`    spec:
      containers:
       - image: nginx
         name: nginx`

I move containers to spec level as seen above.

kubeconform says no issues
`$ kubeconform deployment/deploy-nginx.yaml ; echo $

[2022-11-09 17:31] eyarz commented on #148
`Kubeconform` only validates manifests using the OpenAPI specifications.
There are some additional server-side validations that are not part of the OpenAPI specifications and are performed by the Kubernetes controllers. Those server-side validations are not covered by `Kubeconform` (examples: [#65](https://github.com/yannh/kubeconform/issues/65), [#122](https://github.com/yannh/kubeconform/issues/

[2022-11-14 18:46] yabberyabber opened #151 "Using --schema-location still tries to fetch `$ref` resources over the network"
I would like to run kubeconform without network access.  It looks like the `--schema-location` flag gets me most of the way there - I can pre-download the github.com/yannh/kubernetes-json-schema repository and reference my local clone. However, I see that inside the type definitions, there are links to other resources in the repository that come from the web.

Is there a way I can run this without

[2022-11-15 09:45] eyarz commented on #151
point the `--schema-location` to use the `local` (suffix) schemas:
https://github.com/yannh/kubernetes-json-schema/blob/master/build.sh#L9

[2022-11-16 01:28] yabberyabber commented on #151
Thanks so much! That's exactly what I was looking for :)

[2022-11-16 01:28] #151 closed

[2022-11-28 09:02] yannh commented on #146
Fixed :heavy_check_mark:

[2022-11-28 09:02] #146 closed